<div class="show">
  <div class="title"> {{title}} </div>
  <div class="where"> {{where}} </div>
  <div class="where"> {{start_time}} to {{end_time}} </div>
  <div class="when"> {{start_date}} </div>
</div>
