.row.about
  .col-md-8.col-md-push-2.software

    %p 
      %span.glyphicon.glyphicon-file
      #{link_to 'resume', '/resume', :target => '_blank'}

    %h1 Software Developer

    %p I've been working as a software developer for the past 8 years. What started out as a hobby sparked by an early version of Macromedia Flash, turned into a string of freelancing gigs when a few of my early experiments caught the interest of a friend and web designer, #{link_to 'Martin Manuel', 'http://www.martinmanuel.com'}. 

    %p I spent the next three years working freelance software development jobs from the road, while touring the midwest as a musician. These jobs varied from data-driven, touch screen applications written in Flash and Actionscript 3 to corporate websites with content management systems written in PHP/MySQL.

    %p In 2009, I grew tired of the financial ups and downs of freelancing and decided to look for a full time position. I found a home as a survey programmer and software developer with the market research company #{link_to 'Mindwave Research', 'http://www.mindwaveresearch.com/'}. The several years I spent working on large scale market research projects and reporting tools instilled the importance of data consistency and validity.

    %p It was during my time with Mindwave that I discovered Ruby. The more I played with Ruby at night, the more disheartened I grew working in PHP each day. In talking with my former freelancing partner, I discovered that the company he was working for needed help with a legacy Rails application that their company heavily depended on. 

    %p I started with #{link_to 'TWGPlus', 'http://www.twgplus.com/'} in March of 2013 and have taken on numerous roles since starting, including: front-end developer - creating responsive marketing sites for our clients; application developer - maintaining and improving the CMS and reporting application that the business relies on; devops - managing the application servers and eventually creating #{link_to 'puppet scripts', 'http://puppetlabs.com/'}  which were used to relaunch their staging and development environments.
